<div class="hero_vue_container hero_{{ section.settings.hero_align }}">
    <font class=hero_vue_hero_title>{{ section.settings.hero_title }}</font> 
  <div class=hero_vue_hero_copy>{{ section.settings.hero_copy }}</div>
  <a href="{{ section.settings.hero_cta_url }}"><button class=hero_vue_hero_cta>{{ section.settings.hero_cta_text }}</button> </a>
 </div>
{% stylesheet %}

.hero_vue_container{
padding-left:8%;padding-right:8% ; padding-top:45px; padding-bottom:45px;
background-image: url(https://cdn.shopify.com/s/files/1/0559/0479/6847/files/hero_img.png?v=1617129543);
 background-repeat: no-repeat;
background-size: 100% 100%;
background-color:gray;
width:100%;
}

.hero_vue_hero_copy p{color:#FFF;
font-family: 'Roboto', sans-serif;
font-weight: 300;
font-size:24px;
}

.hero_right{padding-left:55%;}


.hero_left{padding-right:55%;
text-align:left;
}

.hero_middle{text-align:center;padding-right:20%;padding-left:20%;}



.hero_vue_hero_title{
font-family: 'Roboto', sans-serif;
font-weight: 700;
font-size:46px;color:#FFF;
}


.hero_vue_hero_cta{
font-family: 'Roboto', sans-serif;
font-weight: 300;
margin-top:15px;
font-size:20px;color:#FFF;text-transform: uppercase;
background-color:#57AD68;padding:10px;border-width:0px;border-radius:20px;
}
.hero_vue_hero_cta:hover{
color:#57AD68;background-color:#FFFFFF;

}
@media only screen and (max-width: 650px) {
.hero_vue_container{
padding-left:8%;padding-right:8% ; padding-top:40%; padding-bottom:70%;
background-image: url(https://cdn.shopify.com/s/files/1/0559/0479/6847/files/mobile_img.png?v=1617146084);
 background-repeat: no-repeat;
background-size: 100% 100%;
background-color:gray;
text-align:center;
}
.hero_vue_hero_copy p{color:#FFF;
font-family: 'Roboto', sans-serif;
font-weight: 300;
font-size:18px;text-align:center;
}
.hero_vue_hero_title{
font-family: 'Roboto', sans-serif;
font-weight: 700;
font-size:36px;color:#FFF;
}

}

{% endstylesheet %}

{% schema %}
  {

    "name": "CHALLANGE CODING HERO",

    "settings": [
{
        "id": "hero_align",
        "type": "select",
        "label": "Alignment",
        "default": "middle",
 "options": [
      { "value": "right", "label": "right"},
      { "value": "middle", "label": "Middle"},
      { "value": "left", "label": "left"}
   ]
      },

 {
        "id": "hero_title",
        "type": "text",
        "label": "Title",
        "default": "Hero title"
      },
      {
        "id": "hero_copy",
        "type": "richtext",
        "label": "Hero copy",
        "default": "<p>in lorem leo, sodales et ullamcorper tempor , facilisis id nibh . Maecenas nibh risus ,rutrum nec tellus sed, pharetra gravida nulla. proin imperdiet<p>"
      },
      {
        "id": "hero_cta_text",
        "type": "text",
        "label": "CTA text",
        "default": "read more"
      },
      {
        "id": "hero_cta_url",
        "type": "text",
        "label": "CTA URL",
        "default": "#"
      }
 
]

  


  }
{% endschema %}